* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
@media screen and (max-width: 700px) {
    .footer__links {
        display: none;
    }
    .footer__titleSection {
        text-align: center;
    }

}

@media screen and (max-width: 1100px) {
    .links {
        margin: 60px;
        flex-wrap: wrap;
    }
    .links__item {
        margin: 20px 0 0 20px;
    }
    .slider {
        flex-wrap: wrap;
    }
    .content__cards {
        flex-wrap: wrap;
    }
    
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
.head {
    color: white;
    height: 854px;
    /* width: 100vw; */
    background-image: url('/img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head__navbar {
    display: flex;
    padding: 85px;
    justify-content: space-between;
}
.links {
    display: flex;
    align-items: center;

}
.links__item{
    list-style-type: none;
    margin-right: 45px;
}
.links__link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
.links__link:hover {
    border-bottom: 2px solid yellow;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__title {
    margin-left: 15px;
    font-size: 30px;
}
.head__texts
 {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    margin: 0 auto;
    text-align: center;
}
.head__underTitle {
    margin-top: 15px;
}
.btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title{
    font-size: 55px;
}
.head__img {
    margin-top: 50px;
}
.btn {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    outline: none;
}
.btns__getBtn {
    background-color:#FFDD33;
    margin-right: 30px;
}
.btns__playBtn {
    background-color: #572BD9;
    margin-left: 30px;
}
.links__btn {
    background-color: #572BD9;
    margin-right: 25px;
}
.slider {
    display: flex;
    justify-content: space-around;
    margin-top: 500px;
    /* padding: 50px; */
}
.gray-img {
    opacity: .4;
    transition: .4s;
    cursor: pointer;
    margin: 20px;
}
.gray-img:hover {
    opacity: 1;
}
.content__whyChooseUs {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    justify-content: center;
}
.whyChooseUs__undertitle {
    margin-top: 15px;
}
.content__cards {
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}
.cards__card {
    width: 320px;
    height: 350px;
    padding: 45px;
    border-radius: 15px;
    margin: 10px 15px;
    box-shadow: 0 0 15px 0 #00000038;
}
.cardsMargin{
    margin-top: 25px;
}
.buySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buySection__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 400px;
}
.image {
    background-color: white;
    width: 85%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 #bdb0b0;
}
.buySection__info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
}
.buySection__title {
    font-size: 35px;
}
.buySection__text {
    font-size: 18px;
}
.buySection__btn {
    background-color: #572BD9;
    color:white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.buySection__btn {
    width: 160px;
    height: 40px;
}
.getStarted {
    height: 630px;
    /* width: 100vw; */
    background-image: url("/img/Mask\ Group\ 56.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.getStarted__title {
    color: white;
}
.getStarted__text {
    color: white;
}
.getStarted__btn {
    margin-top: 15px;
}
.tasks {
    display: flex;
    height: auto;
    flex-wrap: wrap;
}
.tasks__block {
    width: 50%;
    padding: 50px;
    min-width: 500px;
}
.tasks__background {
    width: 50%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin-bottom: 15px;
}
.tasks__list {
    list-style-type: none;
}
.tasks__li {
    display: flex;
    padding: 15px;
}
.tasks__img {
    object-fit: contain;
}
.tasks__text {
    margin: 15px 0 0 15px;
}
.tasks__btn {
    margin-top: 15px;
}
.tasks__photo {
    width: 80%;
    height: 80%;
}
.testimonials {
    height: auto;
}
.testimonials__cards {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.testimonials__card {
    position: relative;
    margin-top: 30px;
}
.testimonials__title {
    text-align: center;
    margin-bottom: 65px;
    opacity: .8;
}
.testimonial__subject {
    opacity: .7;
}
.cardsMargins {
    margin-top: 30px;
}
.testimonials__avatar {
    position: absolute;
    top: -35px;
    left: 120px;
}
.testimonial__description {
    opacity: .7;
}
.testimonial__stars {
    margin-top: 30px;
}
.testimonials__switchers {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.testimonials__switcher {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6736F9;
    opacity: .4;
    margin: 0 5px;
    transition: .4s;
    cursor: pointer;
}
.testimonials__switcher:hover {
    opacity: 1;
}
.pricing {
    background-image: url("/img/Mask\ Group\ 58.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    /* width: 100vw; */
    margin-top: 40px;
    padding-bottom: 40px;
}
.pricing__title {
    color: white;
    margin-top: 80px;
    text-align: center;
}
.pricing__text {
    color: white;
    width: 540px;
    margin-top: 15px;
    text-align: center;
}
.pricing__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__tarifs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    flex-wrap: wrap;
}
.pricing__card {
    background-color: white;
    height: 600px;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
    margin-top: 20px;
    min-width: 300px;
}
.pricing__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.pricing__level {
    font-size: 25px;
}
.pricing__pricing {
    font-size: 50px;
}
.pricing__functions {
    text-align: center;
    width: 70%;
}
.pricing__card:hover {
    background-color: #6736F9;
    color: white;
}
.pricing__possibility {
    list-style-type: none;
    margin: 15px 0;
}
.pricing__functionals {
    opacity: .7;
}
.questions {
    height: auto;
    padding-bottom: 60px;
}
.questions__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;
}
.questions__text {
    width: 45%;
    text-align: center;
    margin-top: 15px;
}
.questions__question {
    width: 45%;
    margin-left: 45px;
}
.questions__block {
    display: flex;
    margin-top: 50px;
}
.questions__subject {
    margin: 5px 0 0 60px;
}
.questions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form {
    height: 500px;
}
.form__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__text {
    width: 40%;
    text-align: center;
    opacity: .8;
}
.form__fields {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form__name {
    width: 35%;
    line-height: 30px;
}
.form-sizes {
    width: 35%;
    line-height: 35px;
    margin-top: 15px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #bbb2b2;
}
.form__textArea {
    line-height: 60px;
    padding: 0 5px;
}
.form__btn {
    margin-top: 30px;
    font-size: 14px;
}
.readyGetStart {
    background-image: url("/img/Mask\ Group\ 57.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.readyGetStart__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.readyGetStart__title {
    color: white;
    text-align: center;
}
.readyGetStart__text {
    width: 42%;
    text-align: center;
    color: white;
}
.readyGetStart__btn {
    margin-top: 50px;
}
.infoSection {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}
.infoSection__about {
    width: 25%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    padding: 20px;
}
.infoSection__links {
    width: 25%;
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.infoSection__subscribe {
    width: 40%;
    min-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
}
.infoSection__navigation {
    height: auto;
    line-height: 45px;
    opacity: .8;
}
.infoSection__lorems {
    height: auto;
    line-height: 40px;
    opacity: .8;
}
.infoSection__text {
    margin-bottom: 25px;
}
.infoSection__input {
    width: 80%;
    padding: 11px 10px;
    margin: 0;
    outline: none;
}
.infoSection__emailInput {
    width: 100%;
    position: relative;
    padding: 15px 0;
}
.infoSection__social {
    padding: 15px 0;
}
.infoSection__btn {
    position: absolute;
    right: 0;
}
.infoSection__img {
    position: absolute;
    right: 8px;
}
.imgLeft {
    margin-left: 15px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 30px 0;
    background-color: #5B2AEE;
    color: white;
    /* width: 100vw; */
}
.footer__uls {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
}
.footer__ul {
    margin: 5px 36px;
}
.footer__link {
    text-decoration: none;
    color: white;
}
.footerWrap {
    display: flex;
}
